# Strapi / Node specific
node_modules/
.env
.env.*
npm-debug.log*
yarn-error.log*
*.log
.DS_Store

# Build artifacts
build/
dist/
.strapi-updater.json

# Uploads cache
.cache/

# Public uploads folder (Generally exclude if dynamic/large)
public/uploads/

# Database / Temporary files
*.db
*.db-journal
database/migrations/
*.sqlite
*.sqlite-journal
.tmp/

# Editor/OS specific
.vscode/
*.swp
*~

